/* Theme switching dropdown */
.dropdown-content {
	background-color: var(--white);
	position: absolute;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	font-size: 0.75rem;
	border: 1px solid var(--secondary);
	bottom: 2.5rem;
	right: -1.5rem;
}

.dropdown {
	position: relative;
}

.dropdown span {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dropdown h3 {
	padding: auto 0;
}

#smallFooter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 1px solid var(--secondary);
	background-color: var(--white);
	text-align: center;
}

#smallFooter h4,
#smallFooter div {
	flex: 1;
	margin: 1vh;
}

.theme-changer {
	display: flex;
	gap: 0.25rem;
}

#mode-text {
	padding: 0.25rem 0;
	font-size: 1.25rem;
}
